#Menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgb(32, 14, 169);
    color: aliceblue;

    margin: auto;

}
.Block ul li a
{
    text-decoration: none;
    color: aliceblue;


}

.Block ul{
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}